.footer {
  padding-bottom: 40px;
}

.footer__item {
  margin-bottom: 10px;
}

.footer__copy {
  color: var(--background-color-alternative);
}

.footer__img-rsschool {
  width: 80px;
  margin: auto;
}

.footer__link-rsschool .footer__img-rsschool {
  fill: #f0ae12;
  transition: all 0.5s linear;
}

.footer__link-rsschool:hover .footer__img-rsschool {
  fill: #ffffff;
}
